<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Shoppe</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" type="text/css" href="~/Content/CustomStyle.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-gradient-nav">
        <div class="container">
            @Html.ActionLink("Book Shoppe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mastertitle" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse na">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item genre-Dropdown">
                        <button class="genre-Dropdown-btn Dropdown-down">Genres&nbsp;&#9660;</button>
                        <button class="genre-Dropdown-btn Dropdown-up">Genres&nbsp;&#9650;</button>

                        <div class="genre-Dropdown-Content">
                            @foreach (var item in Book_Shoppe.BL.BookBL.GetGenres())
                            {
                                @Html.ActionLink(linkText: item.GenreName, actionName: "Geners", controllerName: "Book", routeValues: new { id = item.GenreID }, htmlAttributes: new { @class = "" })
                                <br />
                            }
                        </div>
                    </li>
                    @try
                    {
                        if (Convert.ToInt32(Session["RoleID"]) > 2)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Category", "EditGenre", "Book", null, new { @class="nav-link"})
                            </li>
                        }
                        if (Convert.ToInt32(Session["RoleID"]) == 1)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("My Books", "Index", "Book", null, new { @class = "nav-link" })
                            </li>
                        }
                        if (Convert.ToInt32(Session["RoleID"]) > 2)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Users", "Index", "User", null, new { @class = "nav-link" })
                            </li>
                        }
                    }
                    catch (NullReferenceException)
                    {

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Book Shoppe</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
